@model ApiApp.Models.User

@{
	ViewData["Title"] = "User Profile";
}

<h3>User Details</h3>

<div>
	<div>
		User ID		:	@Model.Id
	</div>
	<div>
		First Name	:	@Model.FirstName
	</div>

	<div>
		Last Name	:	@Model.LastName
	</div>

	<div>
		User Name	:	@Model.UserName
	</div>

	<div>
		Email		:	@Model.Email
	</div>

	<div>
		Created On	:	@Model.CreationTime
	</div>
	<div class="form-group">
          <button class="btn btn-secondary" onclick="location.href='@Url.Action("changepassword", "Account")';return false;">Change Password</button>
      </div>
</div>

